.grid-container{
    padding: 0;
    margin: 0;
    width: 57em;
    height: 50em;
    display: flex;
    flex-wrap: wrap;
}

.grid-cell{
    padding: 0;
    margin: 0;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 55px;
    height: 55px;
}